p {
    text-transform: uppercase;
    text-align: center;
}

h1 {
    text-align: center;
    color: red;
    font-family: sans-serif;
}

.task-02 {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    text-align: center;
    align-items: center;
    color: green;
    font-style: italic;
    font-family: fantasy;
}

.task-03 {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}
.cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cnt p{
    padding: 10px 10px;
}

.task-03 p {
    width: 700px;
    height: 60px;
    border: 2px solid rgb(183, 0, 255);
    box-shadow: 10px 15px 50px green;
}

.task-03 img {

    width: 500px;
    height: 300px;
}

.task-04{
    background-image: url(/Html/images/kevin-canlas-cFFEeHNZEqw-unsplash.jpg);
    color: rgb(18, 199, 90);
    background-repeat: no-repeat;
    border-radius: 40px;
}

.task-04 p{
    background-color: none;
}